{% extends "main/header.html" %}

{% block title %}Change Password - Tutorials{% endblock %}

{% block content %}
<div class="row">
    <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card form-card">
            <div class="card-content">
                <h4 class="center-align"><i class="material-icons" style="font-size: 3rem; color: #1565c0;">lock</i></h4>
                <h4 class="center-align">Change Password</h4>
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="center-align" style="margin-top: 20px;">
                        <button class="btn waves-effect waves-light blue" type="submit">
                            <i class="material-icons left">lock</i> Update Password
                        </button>
                        <a href="{% url 'main:account' %}" class="btn waves-effect waves-light grey">
                            Cancel
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
