<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Tutorials{% endblock %}</title>
    <!-- Google Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Materialize CSS -->
    <link href="{% static 'main/css/materialize.css' %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static 'main/css/style.css' %}" rel="stylesheet">
</head>

<body>
    {% include "main/includes/navbar.html" %}
    {% include "main/includes/messages.html" %}

    <main>
        <div class="container">
            <br>
            {% block content %}
            {% endblock %}
        </div>
    </main>

    {% include "main/includes/footer.html" %}

    <!-- Materialize JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            M.AutoInit();
            // Initialize sidenav
            var elems = document.querySelectorAll('.sidenav');
            M.Sidenav.init(elems);
            // Initialize collapsible
            var collapsibles = document.querySelectorAll('.collapsible');
            M.Collapsible.init(collapsibles);
        });
    </script>
    {% block extra_js %}{% endblock %}
</body>
</html>
